.active {
    color: #000;
    background: #fff;
}
.nav {
    height: 100%;
    display: flex;
    a {
        height: 100%;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
